.card{
  width:250px;
  height: 300px;
  border-radius: 20px;
  background-color: rgb(255, 247, 247);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-left: 100px;
}
img{
  width: 230px;
  height: 200px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(186, 186, 186);
}
